<div	class="container	content">
  <div	class="row">
    <div	class="col-md-6	offset-md-3">
      <span	class="anchor"	id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div	class="card	card-outline-secondary">
        <div	class="card-header">
          <h3	class="mb-0">Whishlist</h3>
        </div>
        <div	class="card-body">
          <form>
            <div	class="form-group">
              <label	for="nombre">Nombre</label>
              <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar
nombre..." #nombre>
            </div>
            <div	class="form-group">
              <label	for="Imagen	Url">Imagen	Url</label>
              <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
            </div>
            <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr	class="mb-5">
  <div	class="row flex">
    <app-destino-viaje *ngFor="let dest of destinos" [destino]="dest"></app-destino-viaje>
  </div>
</div>
